{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block head %}
<link rel="stylesheet" href="{% static 'appointments/css/doctor_detail.css' %}">
<title>Наші лікарі</title>
{% endblock %}

{% block body %}
<div class="text-center">
    <div class="doctor mt">
        <img src="{{ doctor.image.url }}" class="mt-5" width="130" height="130">
        <h3>{{ doctor.username }}</h3>
        <h4>{{ doctor.role }}</h4>
    </div>

    {% if request.user.is_staff %}
        <h3 class="mt-5">Записи до лікаря</h3>
        {% for appointment in appointments %}
            <div>
                <h5 class="mt-4">{{ appointment.appointment_date_and_time }}</h5>
                <h4>{{ appointment.patient_name }}</h4>
                <h5>{{ appointment.patient_phone_number }}</h5>
                <p>{{ appointment.patient_description }}</p>
                <hr>
            </div>
        {% endfor %}
    {% endif %}

    <div class="feedbacks">
        <h3 class="mt-5">Відгуки про лікаря</h3>
        {% if request.user.is_authenticated %}
            <form method="post">
                <label for="{{ form.text.id_for_label }}">Надіслати відгук</label><br>
                {% csrf_token %}
                {{ form.text }}<br>
                <button class="btn btn-success mt-1">Надіслати відгук</button>
            </form>
        {% else %}
            <h6>Щоб надіслати відгук, <a href="{% url 'users:login' %}">увійдіть в аккаунт</a></h6>
        {% endif %}

        {% for feedback in feedbacks %}
            <div class="feedback">
                <h5>{{ feedback.author.username }}</h5>
                <p>{{ feedback.text }}</p>
                {% if feedback.author == request.user %}
                    <a href="{% url 'appointments:feedback_update' feedback.id %}"><button class="btn btn-info text-white">Змінити</button></a>
                    <a href="{% url 'appointments:feedback_delete' feedback.id %}"><button class="btn btn-info text-white">Видалити</button></a>
                {% endif %}
            </div>
            <div class="text-center w-50 hr">
                <hr>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}