{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block head %}
<title>Наші лікарі</title>

{% endblock %}

{% block body %}
<div class="text-center">
    <div class="doctor mt">
        <img src="{{ doctor.image.url }}" class="mt-5" width="130" height="130">
        <h3>{{ doctor.username }}</h3>
        <h4>{{ doctor.role }}</h4>
    </div>
    <h3 class="mt-5">Записи до лікаря</h3>
    {% for appointment in appointments %}
        <div>
            <h5 class="mt-4">{{ appointment.appointment_date_and_time }}</h5>
        </div>
    {% endfor %}
</div>
{% endblock %}